.bgc{
    background-color: orange;
}
.fnt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.spce{
    margin: 10px;
    padding: 10px;
    text-align: center;
}